<div class="container">
  <form [formGroup]="userDetails" (ngSubmit)= register>
      <!--First Name-->
      <div class="form-group">
        <label>First Name.</label>
        <input type="text"
              class="form-control"
              formControlName="fname"
              required>
        </div>
        <div *ngIf="userDetails.controls['fname'].hasError('required')" class="alert alert-danger">
          ***Can't Left Blank***

        </div>
        <div *ngIf="userDetails.controls['fname'].hasError('minlength')" class="alert alert-danger">
            ***Minimum 6 Character required***
  
          </div>
          <div *ngIf="userDetails.controls['fname'].hasError('maxlength')" class="alert alert-danger">
              ***Not More Then 9 Character Allowed***
    
            </div>






        <div class="form-group">
          <label>Last Name.</label>
          <input type="text"
                class="form-control"
                formControlName="lname">

        </div>
        <!-- Email -->
    <div class="form-group">
        <label>Email.</label>
        <input type="email"
               class="form-control"
               formControlName="uemail">
      </div>
  
      <!-- SubGroup-->
      <div class="form-group" formGroupName="addr">
        <!-- City -->
        <div class="form-group">
          <label>City</label>
          <input type="text"
                 class="form-control"
                 formControlName="ucity">
        </div>
  
        <!-- Address Lane -->
        <div class="form-group">
          <label>Address Lane.</label>
          <input type="text"
                 class="form-control"
                 formControlName="uaddr">
        </div>
      </div>
  
      <!-- Gender -->
      <div class="form-group">
        <label>Gender.</label>
        <input type="radio" class="form-control" formControlName="gender" value="male">Male
        <input type="radio" class="form-control" formControlName="gender" value="female">Female
      </div>
  
      <!-- Country -->
      <div class="form-group">
          <label>Country.</label>
          <select class="form-control" formControlName="ucountry">
            <option value="india">India</option>
            <option value="uk">London</option>
            <option value="japan">Japan</option>
            <option value="usa">USA</option>
            <option value="canada">Canada</option>
          </select>
      </div>
  
      <!-- Submit Button-->
      <div class="form-group" align="center">
        <input type="submit" class="btn btn-success">
      </div>
  </form>

</div>

